.App {
  font-size: 1.4em;
}

.c-header-container {
  min-height: 10vh;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

section:not(:last-of-type) {
  margin-bottom: 6.5em;
}

@media (max-width: 991px) {

  section:not(:last-of-type) {
    margin-bottom: 3.5em;
  }

  .App {
    font-size: 1.2em;
  }

  .c-header-container {
    min-height: 6vh;
  }
}
