.c-header {
    margin-bottom: 0;
    border-radius: 0;
}
@media (max-width: 767px) {
    .c-header {
        margin-right: 0;
        margin-left: 0;
    }
}

.c-profile-logo {
    border-radius: 50%;
    height: 7.5vh;
    margin-left: 1.8em;
    /*margin: 0.7em 0 0 1em !important;*/
    /*width: auto;*/
}

.c-logo-container {
    height: 9.7vh;
    display: flex;
    align-items: center;
}
.c-header h3 {
    margin-top: 0;
    color: white;
    margin-left: 1rem;
}

@media (max-width: 767px) {
    .c-header h3 {
        font-size: 1em;
    }
}

.navbar-right {
    margin-top: 2.2vh;
    color: white !important;
}

@media (max-width: 767px) {
    .navbar-right {
        text-align: center;
    }
}

.navbar-right a {
    color: white !important;
}

.navbar-brand {
    padding: 0;
}